/** ====== Sass Variables ====== **/

/** --- theme color variables --- **/
// color setting
// $theme-color: #295C51;
// $secondary-color: #FAF8F5;
// $footer-color: linear-gradient(0deg, #193731 0%, #193731 100%), #065A46;
// $heading-font-color:rgba(#000,0.7);
// $text-light:#585858;
// $clr-white:#fff;
// color setting
$btnhover-color: #3a3535;
$border-color: #eaeaea;
$hyperlink: #2e90fa;
$bg-light: #fcfcfc;
$lighter: #dddddd;
$formbg: #f7f7f8;
/** --- theme fonts variables --- **/
$heading-font-family: 'SF Pro Text';
$body-font-family: 'SF Pro Text';
$georgia-font-family: 'Georgia';
$inter-font-family: 'Inter';
/** --- radius variables --- **/
$radius: 10px;
